[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
python-dotenv = "*"
install = "*"
python-dateutil = "*"
unidecode = "*"
apache-airflow = "*"
click = "==8.0.2"

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.9"
